@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

/* remove all padding and button style */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-items: center;
}

html, body {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 70px 0 70px 0;
  flex:auto;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 350px 350px;
  margin-bottom: 70px;
  margin-top: 70px */
}

body {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  padding: 80px 20% 0 20%;
}

header {
  display: flex;
  flex-direction: row;
}

img {
  width: 70%;
}

h1 {
  font-family: 'PT Serif';
  font-weight: 700;
  font-size: 36px;
}

h2, h4 {
  font-weight: 600;
  font-size: 18px;
}

h3 {
  font-weight: 400;
  font-size: 12px;
  font-family: 'PT Serif';
  transform: rotate(90deg);
  transform-origin: left top;
  position: absolute;
  top: 0;
  left: 78%;
  width: 100%;
}

h4 {
  margin-top: 10px;
}

p.desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  width: 450px;
}

.header, .description {
  width: 100%;
}

.col-3 {
  display: flex;
  justify-content: center;
  width: 33%;
  position: relative;
}

.extra-margin {
  margin-top: 90px;
}

/* footer */
.footer {
  padding-bottom: 2%;
  text-align: center;
  font-family: 'Montserrat';
  color: #BDBDBD;
  font-size: 14px;
}

.username {
  font-weight: 700;
}

@media screen and (max-width:1175px) {
  body {
    padding: 80px 15% 0 15%;
  }

  header {
    display: flex;
    flex-direction: row;
  }

  p.desc {
    width: auto;
  }

  h1 {
    font-size: 28px;
  }

  h2, p.desc {
    font-size: 15px;
  }
}

@media screen and (max-width:850px) {

  header {
    display: flex;
    flex-direction: row;
  }

  p.desc {
    width: auto;
  }
}

@media screen and (max-width:600px) {
  body {
    padding: 20px 5% 0 5%;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  h1 {
    padding-bottom: 36px;
  }

  h2, h4 {
    font-weight: 600;
    font-size: 14px;
  }

  h3{
    left: 91%;
  }

  img {
    width: 80%;
  }

  .col-3 {
    display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
  }


  .extra-margin-small {
    margin-top: 90px;
  }

  .no-margin{
    margin-top: 0;
  }
}
